In [29]:
import pandas as pd
from datetime import datetime
from utility.helpers import DataManager
import visualization

datamanager = DataManager('provisioned', 4)

In [32]:
# Load the data
data = datamanager.load_data()
# Convert timestamp to datetime
data['timestamp'] = pd.to_datetime(data['timestamp'])

In [33]:
# Visualize data
visualization.visualize_data(data)
data

,instance_id,timestamp,query_count,runtime,bytes_scanned
30,4,2024-03-01 01:00:00,9573,37790036.0,251629065.0
77,4,2024-03-01 04:00:00,10166,53083622.0,241231024.0
394,4,2024-03-01 18:00:00,12312,21388724.0,125818463.0
428,4,2024-03-01 19:00:00,11792,26654488.0,145941355.0
578,4,2024-03-02 01:00:00,8643,31798204.0,142211908.0
...,...,...,...,...,...
178385,4,2024-04-27 21:00:00,10242,25227033.0,130507356.0
178454,4,2024-04-28 00:00:00,6187,60049229.0,140185568.0
178475,4,2024-04-28 01:00:00,9272,24035113.0,141681375.0
178613,4,2024-04-28 07:00:00,8795,31746245.0,144658656.0
178627,4,2024-04-28 08:00:00,9407,37221102.0,181026846.0

In [34]:
# Split into training and test data:
# Following the approach in the paper (p. 132), for a cluster with N weeks of data, 
# the first train-test split includes N-2 weeks for training and the following week 
# for testing. The second train-test split contains the first N-1 weeks for training 
# and the following week for testing, representing a scenario of re-training a model 
# each week and forecasting for the next week

train1, test1, train2, test2 = datamanager.train_test_split(data)

print(f"train1 shape: {train1.shape}")
print(f"test1 shape: {test1.shape}")
print(f"train2 shape: {train2.shape}")
print(f"test2 shape: {test2.shape}")

print(train1.iloc[-1])
print(test1.iloc[0])
print(train1.iloc[-1])
print(test1.iloc[0])

train1 shape: (1080, 5)
test1 shape: (168, 5)
train2 shape: (1248, 5)
test2 shape: (145, 5)
instance_id                        4
timestamp        2024-04-14 23:00:00
query_count                    10331
runtime                   31619506.0
bytes_scanned            133827160.0
Name: 171342, dtype: object
instance_id                        4
timestamp        2024-04-15 00:00:00
query_count                    10442
runtime                   36359804.0
bytes_scanned            152483670.0
Name: 24287, dtype: object
instance_id                        4
timestamp        2024-04-14 23:00:00
query_count                    10331
runtime                   31619506.0
bytes_scanned            133827160.0
Name: 171342, dtype: object
instance_id                        4
timestamp        2024-04-15 00:00:00
query_count                    10442
runtime                   36359804.0
bytes_scanned            152483670.0
Name: 24287, dtype: object

In [5]:
# Train baseline models

In [6]:
# Test baseline models and calculate error metrics

In [7]:
# visualize first prediction
visualization.visualize_prediction(train1, test1, prediction1)

# visualize first prediction
visualization.visualize_prediction(train2, test2, prediction2)

NameError: name 'prediction1' is not defined